body {
  background: #333;
  color: #DDD;
}
.ui.header {
  color: #DDD;
}
.ui.segment {
  background: #666;
}
.ui.toggle label::before {
  background: #666 !important;
}
.ui.input > input {
  background: #666 !important;
  color: #DDD !important;
}
.ui.card {
  background: #444 !important;
  box-shadow: 0 1px 3px 0 #333, 0 0 0 1px #333 !important;
}
.ui.card * {
  color: #DDD !important;
}